- @videos.each do |video|
	- next unless video.aasm_current_state == :converted
	.videothumb
		%a(href='#{video_path(video)}')
			%img(src='#{video.thumburl}')
		.Footer
			%a(href='video_path(video)')= video.title