%script(src='http://static.flowplayer.org/js/flowplayer-3.2.6.min.js')
%style .flv { display:block; }
%script
	$(document).ready(function(){ |
		flowplayer("player", "/flowplayer.swf", { |
			clip: { autoPlay: true } |
		}); |
	});
- @videos.each do |video|
	- next unless video.aasm_current_state == :converted
	.video
		.videoInner
			%a.flv(href='#{video.flvurl}' id='player')
				%img(src='#{video.thumburl}')
		.videoFooter= video.source