- @videos.each do |video|
	- next unless video.aasm_current_state == :converted
	.videothumb
		%a(href='/videos/#{video.id}')
			%img(src='#{video.thumburl}')
		.Footer
			%a(href='/videos/#{video.id}')= video.title
