// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@rightWidth: 300px;

body.videos {
  // Add the videos class to your body tag
  // Then, place scoped styles here.
}

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.rounded-corners-bottom (@radius: 3px) {
  border-radius: 0px 0px @radius @radius;
  -webkit-border-radius: 0px 0px @radius @radius;
  -moz-border-radius: 0px 0px @radius @radius;
}

img {
	padding: 0px;
	margin: 0px;
}

.videothumb {
	width: 320px;
	border: 1px solid gray;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 5px;
	float: left;
	.rounded-corners;
	img {
		margin-bottom: -4px;
	}
	.Footer {
		text-align: center;
		font-family: tahoma,verdana;
		font-size: 0.8em;
		.rounded-corners-bottom;
		border: 1px solid #ddd;
		padding: 5px;
		.Operations {
			float: right;
		}
	}
}

.video {
	margin-right: @rightWidth+50;
	border: 1px solid gray;
	margin-bottom: 10px;
	padding: 5px;
	.rounded-corners;
	.Inner { height: 400px; }
	.Footer {
		text-align: center;
		font-family: tahoma,verdana;
		font-size: 0.8em;
		.rounded-corners-bottom;
		border: 1px solid #ddd;
		padding: 5px;
		.Operations {
			float: right;
		}
	}
}

.rightnav {
	border-left: 1px dashed gray;
	padding-left: 10px;
	width: @rightWidth;
	float: right;
	display: inline;
}

.comments {
	margin-right: @rightWidth + 50px;
	margin-bottom: 20px;
	form {
		margin: 10px 0;
	}
	.comment {
		.inner {
			.rounded-corners(10px);
			padding: 10px;
			border: 1px dashed #ddd;
			margin-bottom: 10px;
		}
		.header {
			height: 40px;
			background-image: url(/assets/quote.gif);
			background-repeat: no-repeat;
			text-align: left;
			padding: 5px;
			margin-top: -10px;
			padding-top: 8px;
			padding-left: 60px;
			.Operations { text-align: left;}
		}
		.body { padding-left: 5px; }
		.commentReply {
			margin-left: 65px;
		}
	}
	textarea {
		margin-right: 15px;
		width: 99%;
		display: block;
		height: 100px;
	}
}