// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.videos {
  // Add the videos class to your body tag
  // Then, place scoped styles here.
}

.video {
	border: 1px dashed gray;
	padding: 5px;
	width:490px;
	.videoInner {
		margin: auto auto;
		width: 480px;
		height: 360px;
		padding: 2px;
		border: 1px solid #aaa;
	}
	.videoFooter {
		padding: 5px;
	}
}