// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.videos {
  // Add the videos class to your body tag
  // Then, place scoped styles here.
}

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.rounded-corners-bottom (@radius: 3px) {
  border-radius: 0px 0px @radius @radius;
  -webkit-border-radius: 0px 0px @radius @radius;
  -moz-border-radius: 0px 0px @radius @radius;
}

.video {
	border: 1px solid gray;
	padding: 5px;
	width:480px;
	.rounded-corners;
	.Inner {
		a {
			display: block;
			width: 480px;
		}
	}
	.Footer {
		text-align: center;
		font-family: tahoma,verdana;
		font-size: 0.8em;
		.rounded-corners-bottom;
		border: 1px solid #ddd;
		padding: 5px;
		.Operations {
			float: right;
		}
	}
}